.header-primero{
    background-color: white;
}  

.primera-seccion{
    background-color: black;
    color: white;
}

.primera-seccion  h6{
    color: rgb(57, 208, 235);
}

.segunda-seccion{
    color: rgb(57, 208, 235);
}

.tercera-seccion{
    background-color: rgb(43, 43, 51);
    color: white;
}

.tercera-seccion  h6{
    color: rgb(57, 208, 235);
}

.cuarta-seccion{
    background-color: black;
    color: white;
}

.cuarta-seccion  h6{
    color: rgb(57, 208, 235);
}

.cuarta-seccion h1{
    color: rgb(57, 208, 235);
}

.footer h6{
    text-decoration: none;
}
.contenedor{
    width: max-content;
}
.col {
    flex: 0 0 0% !important;
}